body {
    background-color: antiquewhite;
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', 'monospace'; 

}

.upperMenu {
    border-radius: 30pc;
    background-color: rgb(255, 255, 255, 50%);
    left: 100px;
    right: 100px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    transition: all .3s ;
}
.upperMenu:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.20);
}

.upperList li img {
    height: 15px;
}

.upperList li {
    display: inline;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}
a:link {
    color: black;
    text-decoration: none;
}


/* ------------------- ANIMATIONS ----------------------*/

@keyframes upperMenuShadowHover {
    0% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.20)}
    25% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.45)}
    50% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.55)}
    75% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.60)}
    100% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.70)}
}

@keyframes upperMenuShadowMouseLeave {
    0% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.70)}
    25% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.60)}
    50% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.55)}
    75% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.45)}
    100% { box-shadow: 10px 10px 5px 0px rgba(0, 0, 0 ,0.20)}
}