<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://hiyedev.github.io/A5.github.io/web/components/upperMenu/style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="upperMenu">
        <ul class="upperList">
            <li><img src="https://hiyedev.github.io/A5.github.io/resources/bookIcon.png" alt="iconoLibro"></li>
            <li><a href="https://hiyedev.github.io/A5.github.io/index.html">Blog</a></li>
            <li><a href="https://hiyedev.github.io/A5.github.io/web/contact/view/contact.html">Contact</a></li>
            <span id="um-guille">El blog de Guillermo.</span>
        </ul>
    </div>
</body>
</html>