body {
    background-color: antiquewhite;
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', 'monaco', 'Bitstream Vera Sans Mono', 'monospace'; 
}

.container {
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 50%);
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
    transition: all .3s;
}

.container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.20);
}

button, label {
    cursor: pointer;
}

ul {
    list-style: none;
}

.my-form select,
.my-form input,
.my-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s transfrom 0.3s;
}

.my-form select:focus,
.my-form input:focus
.my-from button:focus {
    transform: scale(1.03);
    background-color: rgb(233, 100, 100);
    outline: none;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.20);
}

.my-form *:required,
.my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
}

.my-form *:required {
    background-image: url("https://hiyedev.github.io/A5.github.io/resources/required.png");
}

button span img {
    height: 30px;
}


.my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
}

.my-form button:enabled:hover,
.my-form button:focus {
    background-color: rgb(233, 100, 100);
}

.myfrom button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.my-form button .back {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-110% , -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
    transform: translate(-50%, -50%)
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
    transform: translate(110%);
}



@media screen and (max-width: 600px) {
    .from-contact .grid {
        display: grid;
        grid-gap: 1.5rem;
    }

    .my-form .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .my-form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .my-form .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
}