<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://hiyedev.github.io/A5.github.io/web/contact/style/contact.css">
    <link rel="stylesheet" href="../style/contact.css">
    <script src="https://hiyedev.github.io/A5.github.io/web/contact/logic/contact.js" defer></script>
    <script src="https://hiyedev.github.io/A5.github.io/web/contact/logic/uploadComponents.js" defer></script>
    <title>Document</title>
</head>
<body>
    
    <div id="upperMenu"></div>

        <!-- Nombre (validar que no es vacío).
            Teléfono (validar que es un formato válido para teléfono).
            Correo electrónico (validar que es un formato válido para teléfono).
            3 opciones de selección (del tipo que solamente se puede seleccionar una de ellas) relacionadas con la temática de tu sitio web. Es obligatorio seleccionar una.
            4 casillas de chequeo (se puede seleccionar más de una) relacionadas con la temática de tu sitio web.
            -->

        <form action="#" class="my-form">

            <div class="container">

                <h1>¡Contactame!</h1>

                <ul>
                    <li>
                        <select name="" id="">
                            <option selected disabled> -- Escoge una opcion --</option>
                            <option>Pregunta blog</option>
                            <option>Colaboración</option>
                            <option>Otro</option>
                        </select>
                    </li>
                    <li>
                        <div class="grid grid-2">
                            <input type="text" placeholder="Nombre" required>
                            <input type="text" placeholder="Apellido" required>
                        </div>
                    </li>
                    <li>
                        <div class="grid grid-2">
                            <input type="email" placeholder="Email" required>
                            <input type="tel" placeholder="Telefono" required>
                        </div>
                    </li>
                    <li>
                        <div class="grid checkbox-container">
                            <p>Encuesta: Cual es tu genero favorito</p>
                            <input type="checkbox" value="fantasia">
                            <label for="fantasia">Fantasia</label>
                            <input type="checkbox" value="romance">
                            <label for="romance">Romance</label>
                            <input type="checkbox" value="ciencia-ficcion">
                            <label for="ciencia-ficcion">Ciencia Ficción</label>
                            <input type="checkbox" value="otros">
                            <label for="otros">Otros</label>
                        </div>
                    </li>
                    <li>
                        <div class="grid grid-3">
                            <button class="btn-grid" type="submit">
                                <span class="back">
                                    <img src="https://hiyedev.github.io/A5.github.io/resources/send.png" alt="send-icon">
                                </span>
                                <span class="front">SUBMIT</span>
                            </button>
                            <button class="btn-grid" type="reset">
                                <span class="back">
                                    <img src="https://hiyedev.github.io/A5.github.io/resources/cancel.png" alt="cancel-icon">
                                </span>
                                <span class="front">RESET</span>
                            </button>
                        </div>
                    </li>
                </ul>

            </div>
        </form>



</body>
</html>
